html,body{
      margin:0;
      padding:0;
      height:100%;
      border:none
   }

body {
    font-size:11px;
}

#mainlogo {
    text-align:center;
    height:auto;
}

#tabs {
    height:83%;
}

#wrap {
    max-width:800px;
    margin:0 auto; 
    height:100%;
}

#feed {
    height:90%;
    overflow:auto;
}

.feeditem {
    min-height:135px;
}

.newsTitle {
    font-weight:bold;
}

#settings {
    text-align:center;
}

#loading {
    display:none;
    text-align:center;
}